#topLabel{
    padding-top: 10px;
    padding-bottom: 15px;
}

#lable{
    padding-left: 40px;
    padding-right: 60px;
}

#radiobtn1{
    padding-right: 10px;
}

.firstname{
     padding-left: 40px;
}

.lastname{
    padding-left: 30px;
}

.email{
    padding-right: 30px;
}

.age{
    padding-left: 25px;
}

.Confirmedpassword{
    padding-left: 40px;
}

#citylable{
    padding-left: 190px;
    padding-right: 20px;
}

#genlable{
    padding-right: 10px;
    padding-left:90px
}

#ageLabel{
    padding-left: 45px
}

#submitbtn{
    margin-left: 350px;
}



