/* table {
    border-collapse: collapse;
    width: 90%;
    height: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  th{
    background-color: brown;
    color: whitesmoke;
  }
  
  th,
  td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  .center {
    margin: auto;
  }
  h3{
    text-align: center;
  }
   */

   h3{
    text-align: center;
  }

  .table-even-row {
    background-color: #f2f2f2;
  }
  
  /* .table-odd-row {
    background-color: bisque;
  } */
  table{
    width: 90%;
    margin: auto;
  }
  .bg-brown {
    background-color: brown;
  }