<!-- <h3>User Details</h3>
<table class="center">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Website</th>
        <th>Company</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.address.street}}, {{user.address.suite}}, {{user.address.city}}, {{user.address.zipcode}}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.website }}</td>
        <td>{{ user.company.name}}, {{user.company.catchPhrase}}, {{user.company.bs}} </td>
      </tr>
    </tbody>
  </table>


   -->

   <h3>User Details</h3>
   <div class="input-group">
    <div class="form-outline">
      <input id="search-input" type="search" id="form1" class="form-control" [(ngModel)]="searchText" 
       placeholder="Search by name"/>
    </div>  
  </div>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="bg-brown text-white">ID</th>
      <th class="bg-brown text-white">Name</th>
      <th class="bg-brown text-white">Email</th>
      <th class="bg-brown text-white">Address</th>
      <th class="bg-brown text-white">Phone</th>
      <th class="bg-brown text-white">Website</th>
      <th class="bg-brown text-white">Company</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users | search: searchText" [ngClass]="{'table-even-row': even, 'table-odd-row': !even}">
      <td><a [routerLink]="['/userdetails', user.id]">{{user.id}}</a></td>  
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.address.street}}, {{user.address.suite}}, {{user.address.city}}, {{user.address.zipcode}}</td>
      <td>{{ user.phone }}</td>
      <td>{{ user.website }}</td>
      <td>{{ user.company.name}}, {{user.company.catchPhrase}}, {{user.company.bs}} </td>
    </tr>
  </tbody>
</table>


