.bgc {
    background-color: rebeccapurple;
    
}
.date {
    color: blue;
}
h2 {
    color: red;
}
.col-md-6{
    border: 1px solid gray;
    padding: 5px;
    background-color: antiquewhite;
}
.row{
    border: 5px solid green;
}
.container{
    border: 2px solid black;
}
.nav{
    background-color: black;
}
.nav-link{
    color: white;
}