<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1 class="bgc">
    Welcome to {{ title }}! {{name}}
  </h1>
  
  <h1>
    Employee Count = {{empCount}}
  </h1>
  <h3 class="date">
    {{date}}
  </h3>
{{data.name}} 
{{data.dept}}
<div [innerHTML] = 'test'></div>
<img [src]="imageUrl" alt=""> -->

<!-- <app-test2 [child]="parentToChild"></app-test2> -->
<!-- <app-card [title]="posts[0].title" [content]="posts[0].content"></app-card> 
<app-card [title]="posts[1].title" [content]="posts[1].content"></app-card>   -->

<!-- <app-output-decorator (fromChild)="onParent($event)"> -->

<!-- </app-output-decorator>
<app-ngfor></app-ngfor> -->
<!-- <app-ngfor-dropdown></app-ngfor-dropdown> -->
<!-- <app-dropdown></app-dropdown> -->
<!-- <app-ngswitch></app-ngswitch> -->
<!-- <app-ngif></app-ngif> -->
<!-- <app-ngswitch2></app-ngswitch2>  -->
<!-- <app-ngstyle></app-ngstyle>
<app-ngclass></app-ngclass>  -->

<!-- <app-directive-assignment></app-directive-assignment> -->
<!-- <app-test1></app-test1> -->

<!-- <app-customdirective></app-customdirective> -->
<!-- <app-templateform></app-templateform> -->
<!-- <app-templateform-assignment></app-templateform-assignment> -->
<!-- <app-regestration-form></app-regestration-form> -->
<!-- <app-reactiveform-assignment></app-reactiveform-assignment> -->
<!-- <app-forms-page></app-forms-page> -->
<!-- <app-reactiveform></app-reactiveform> -->
<!-- <app-server-table></app-server-table> -->
<!-- <app-pipeexample></app-pipeexample> -->
<!-- <app-prodcut-filter></app-prodcut-filter> -->

<!-- <div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <app-comp1></app-comp1>
    </div>
    <div class="col-md-6">
      <app-comp2></app-comp2>
    </div>
    <div class="col-md-6">
      <app-comp3></app-comp3>
    </div>
    <div class="col-md-6">
      <app-comp4></app-comp4>
    </div>
  </div>
</div> -->

<header>
  <nav>
    <ul class="nav nav-tabs ">
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a> </li>
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/aboutus">AboutUs</a> </li>
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/contactus">ContactUs</a> </li>
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/product">Product</a> </li>
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/post">Post</a> </li>
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/user">User</a> </li>
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a> </li>
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/order">Order</a> </li>
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/fashion">Fashion</a> </li>
      <li class="nav-item"> <a  routerLinkActive="active" routerLink="/customer" class="nav-link">Cutomer</a> </li>
      <li class="nav-item"> <a  routerLinkActive="active" routerLink="/admin" class="nav-link">Admin</a> </li>
      <li class="nav-item"> <a  routerLinkActive="active" routerLink="/todo" class="nav-link">ToDo</a> </li>
      <li class="nav-item"> <a  routerLinkActive="active" routerLink="/wiki" class="nav-link">Wiki</a> </li>
      <!-- <li class="nav-item"> <a  routerLinkActive="active" routerLink="/hook" class="nav-link">Hooks</a> </li> -->
      <li class="nav-item"> <a  routerLinkActive="active" routerLink="/adduser" class="nav-link">Add User</a> </li>
      <li class="nav-item"> <a  routerLinkActive="active" routerLink="/userdetails" class="nav-link">User Details</a> </li>
    </ul>
  </nav>
</header>

<input type="text" placeholder="Enter value" (blur)="handleData($event)">

<!-- <button class="btn btn-primary" (click)="changeFromParent()">Change from parent</button> -->
<app-hooks [parentData]="data1" *ngIf="destroyElement">
  <h1 #child>
    This is child content coming from parent content
  </h1>
</app-hooks>
<button class="btn btn-danger" (click)="destroy()">On Destroy</button>
{{myObservable | async}}
<router-outlet></router-outlet>

