<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1 class="bgc">
    Welcome to {{ title }}! {{name}}
  </h1>
  
  <h1>
    Employee Count = {{empCount}}
  </h1>
  <h3 class="date">
    {{date}}
  </h3>
{{data.name}} 
{{data.dept}}
<div [innerHTML] = 'test'></div>
<img [src]="imageUrl" alt=""> -->

<!-- <app-test2 [child]="parentToChild"></app-test2> -->
<!-- <app-card [title]="posts[0].title" [content]="posts[0].content"></app-card> 
<app-card [title]="posts[1].title" [content]="posts[1].content"></app-card>   -->

<!-- <app-output-decorator (fromChild)="onParent($event)"> -->
   
<!-- </app-output-decorator>
<app-ngfor></app-ngfor> -->
  <!-- <app-ngfor-dropdown></app-ngfor-dropdown> -->
<!-- <app-dropdown></app-dropdown> -->
<!-- <app-ngswitch></app-ngswitch> -->
<!-- <app-ngif></app-ngif> -->
 <!-- <app-ngswitch2></app-ngswitch2>  -->
<!-- <app-ngstyle></app-ngstyle>
<app-ngclass></app-ngclass> 
<router-outlet></router-outlet> -->
<!-- <app-directive-assignment></app-directive-assignment> -->
<!-- <app-test1></app-test1> -->

<!-- <app-customdirective></app-customdirective> -->
<!-- <app-templateform></app-templateform> -->
<!-- <app-templateform-assignment></app-templateform-assignment> -->
  <!-- <app-regestration-form></app-regestration-form> -->
<!-- <app-reactiveform-assignment></app-reactiveform-assignment> -->
<!-- <app-forms-page></app-forms-page> -->
<!-- <app-reactiveform></app-reactiveform> -->
<app-server-table></app-server-table>







